# Rust
/target/
Cargo.lock
.DS_Store

# IDEs
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# Testing
/.cargo/
.cargo/coverage

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# Temporary
*.tmp
*.temp
node_modules/
build_rs_cov.profraw

website/node_modules/
website/build/
website/.docusaurus/
