:root {
  --ifm-color-primary: #6366f1;
  --ifm-color-primary-dark: #4f52e8;
  --ifm-color-primary-darker: #4346e1;
  --ifm-color-primary-darkest: #3133c8;
  --ifm-color-primary-light: #7779f4;
  --ifm-color-primary-lighter: #8385f5;
  --ifm-color-primary-lightest: #a8a9f9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
[data-theme='dark'] {
  --ifm-color-primary: #818cf8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
